
body{
    background-image: url("10.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;
    z-index: 100000;
}
.container
{
    border-radius: 25px;
    max-width: 500px;
    width: 100%;
    border: 2px solid blue;
    margin: 20px auto;
    padding: 30px;
}
.container .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:#3030cd ;
    text-transform: uppercase;
    text-align: center;
}
.container .form{
    width: 100%;
}
.container .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items:center;
}
.container .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
}
.container .form .input_field .input,
.container .form .input_field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #3ce041;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.container .form .input_field .textarea{
   resize: none; 
   height:70px;
}
.container .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
.container .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #d071f9;
    border-radius: 3px;
    outline: none;
}
.container .form .input_field .custom_select:before{
    content: "";
    position: absolute;
    top:12px;
    right:10px;
    border: 8px solid  black;
    border-color:green transparent transparent transparent;
    pointer-events: none;
}
.container .form .input_field .input:focus,
.container .form .input_field .textarea:focus,
.container .form .input_field select:focus
{
    border:1px solid rgb(230, 14, 230);

}
.container .form .input_field p{
    font-size: 14px;
    color: #757575;
}
.container .form .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: flex;
    cursor: pointer;
}
.container .form .input_field .check input[type="checkbox"]
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.container .form .input_field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #d071f9;
    display: block;
    position: relative;
}

.container .form .input_field .check .checkmark:before{
    content: "";
    position: relative;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border:transparent transparent white white;
    transform: rotate(-45deg);
}
.container .form .input_field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #D071F9;
}

.container .form .input_field .check input[type="checkbox"]:checked ~ .checkmark::before
{
    display: block;
}

.container .form .input_field .btn{
    width:100%;
    padding:8px 10px ;
    border: 0;
    background: #D071F9;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.container .form .input_field:last-child{
    margin-bottom: 0;
}
.container .form .input_field .btn:hover{
    background: purple;
}
@media (max-width:420px){
    .container .form .input_field
    {
       flex-direction: column;
       align-items: flex-start;
    }
    .container .form .input_field label{
      margin-bottom: 5px;
    }
    .container .form .input_field.terms{
        flex-direction: row;

    }

}








